@model IEnumerable<RedBadgeFinal.Models.SpellList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SpellId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpellName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SpellId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpellName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.SpellId }) |
            @Html.ActionLink("Details", "Details", new { id = item.SpellId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SpellId })
        </td>
    </tr>
}

</table>
