@model IEnumerable<RedBadgeFinal.Models.CharacterListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CharacterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterRace)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CharacterName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Level)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CharacterClass)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CharacterRace)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.CharacterId }) |
        @Html.ActionLink("Details", "Details", new { id=item.CharacterId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.CharacterId })
    </td>
</tr>
}

</table>
